.content {
    margin-left: 9px;
    &__ttl {
      font-family: "SVN-Gilroy";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #161E54;
    }
    &-list{
        color: #0B176D;
        margin-left: 12px;
    }
  }
  