<div class="content">
  <div class="content-top">
    <h5>Recruitment request</h5>
    <app-back-btn [route]="route"></app-back-btn>
  </div>
  <div class="content-middle">
    <div class="content-middle-heading">
      <i class="fal fa-user"></i>
      <div class="content-middle-heading__ttl">
        <p>2. Backend Dev</p>
      </div>
    </div>
    <div class="content-middle-form">
      <app-form-request></app-form-request>
      <app-history></app-history>
    </div>
    <div class="content-middle-heading">
      <i class="fal fa-user"></i>
      <div class="content-middle-heading__ttl">
        <p>2. Related request</p>
      </div>
    </div>
  </div>
  <div class="content-ending">
    <h5>Comment</h5>
    <ng-container *ngIf="user.rule == 1">
      <textarea
        [(ngModel)]="commentString"
        class="form-control"
        placeholder="Notes"
        rows="4"
        >{{ requestService.selectedRequest.comment }}</textarea
      >

      <button type="button" (click)="uploadComment()">Send Comment</button>
    </ng-container>
    <ng-container *ngIf="user.rule == 2">
      <p>{{ requestService.selectedRequest.comment }}</p>
    </ng-container>
  </div>
</div>
