@font-face {
  font-family: "Poppins";
  src: url("../../../assets/DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf");
}
table {
  width: 100%;
  font-size: 14px;
  table-layout: fixed;
  font-family: "Poppins";
  thead {
    tr {
      &:first-of-type {
        border: none;
      }
    }
  }
  tr {
    border-top: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
    width: 100%;
    th {
      text-align: center;
      height: 60px;
      &:last-of-type {
        width: 20px;
      }
      &:first-of-type {
        width: 40px;
      }
    }
    td {
      input {
        &:checked + label:before {
          content: "";
          display: inline-block;
          width: 1px;
          height: 5px;
          border: solid rgb(31, 133, 17);
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          border-radius: 0px;
          margin: 0px 15px 5px 5px;
        }
      }
      vertical-align: middle;
      text-align: center;
      height: 60px;
      width: 100px;
      i {
        cursor: pointer;
        &:active {
          cursor: wait;
        }
      }
    }
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// @font-face {
//   font-family: 'Poppins';
//   src: url("../../../assets/poppins/Poppins-Regular.otf");
// }

.pagi {
  position: absolute;
  right: 20px;
}
.approve {
  background-color: #36ca68;
  border-radius: 10px;
  color: #fff;
  margin: auto;
  padding: 0;
  width: 91px;
  height: 22px;
}
.pending {
  background-color: #ffaa01;
  border-radius: 10px;
  color: #fff;
  padding: 0;
  margin: auto;
  width: 91px;
  height: 22px;
}
.reject {
  background-color: #eb4962;
  border-radius: 10px;
  color: #fff;
  margin: auto;
  padding: 0;
  width: 91px;
  height: 22px;
}
.children {
  display: table-row;
  background-color: #d6d5f999;
  td {
    &:first-of-type {
      text-align: right;
    }
  }
}
.children.hide {
  display: none;
}
.rowtable {
  display: table-row-group;
}
.selected{
  background-color: #36ca68 !important;
}
// .table {
//   font-family: "Poppins";
//   font-style: normal;
//   display: table;
//   width: 100%;
//   text-align: center;
//   p {
//     margin: 0;
//     padding: 0;
//   }
//   &-head {
//     display: table-header-group;
//     font-weight: 600;
//     font-size: 12px;
//     p {
//       display: table-cell;
//       border-bottom: 1px solid #afafaf;
//     }
//   }
//   &-body {
//     font-weight: 400;
//     font-size: 13px;
//     display: table-row-group;
//     &-row {
//       display: table-row;
//       height: 47px;
//       p {
//         display: table-cell;
//         border-bottom: 0.5px solid #afafaf;
//         vertical-align: middle;
//         width: 120px;
//         &:last-of-type {
//           width: 20px;
//           cursor: pointer;
//         }
//         span {
//           display: inline-block;
//           width: 91px;
//           height: 22px;
//         }
//       }
//     }
//   }
// }
