<app-loader [isLoaded]="isLoaded"></app-loader>

<ng-container *ngIf="requestList">
  <table>
    <thead>
      <tr>
        <th>Request ID</th>
        <th>Name</th>
        <th>Request level</th>
        <th>Department</th>
        <th>Position</th>
        <th>Quantity</th>
        <th>Created on</th>
        <th>Deadline</th>
        <th>HR in change</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngFor="
          let request of requestList
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: page,
                  totalItems: totalItems
                }
        "
      >
        <tr #parent>
          <td>{{ request.requestId }}</td>
          <td>{{ request.name }}</td>
          <td>{{ request.requestLevel }}</td>
          <td>{{ request.department }}</td>
          <td>{{ request.position }}</td>
          <td>{{ request.quantity }}</td>
          <td>{{ request.createdOn }}</td>
          <td>{{ request.deadline }}</td>
          <td>{{ request.hrInchange }}</td>
          <td>
            <p
              [ngClass]="{
                pending: request.status === 'pending',
                approved: request.status === 'approved'
              }"
            >
              {{ request.status }}
            </p>
          </td>
          <td>
            <i (click)="toggleChildren(parent)" class="fas fa-angle-down"></i>
          </td>
        </tr>

        <tr *ngFor="let request of request.children" class="children">
          <td>{{ request.requestId }}</td>
          <td>{{ request.name }}</td>
          <td>{{ request.requestLevel }}</td>
          <td>{{ request.department }}</td>
          <td>{{ request.position }}</td>
          <td>{{ request.quantity }}</td>
          <td>{{ request.createdOn }}</td>
          <td>{{ request.deadline }}</td>
          <td>{{ request.hrInchange }}</td>
          <td>
            <p
              [ngClass]="{
                pending: request.status === 'pending',
                approved: request.status === 'approved'
              }"
            >
              {{ request.status }}
            </p>
          </td>
          <td></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <pagination-controls
    class="pagi"
    (pageChange)="gty((page = $event))"
  ></pagination-controls>
</ng-container>
<!-- <app-loader [isLoaded]="isLoaded"></app-loader> -->
<!-- <table>
  <thead>
    <tr>
      <th>Request ID</th>
      <th>Name</th>
      <th>Request level</th>
      <th>Department</th>
      <th>Position</th>
      <th>Quantity</th>
      <th>Created on</th>
      <th>Deadline</th>
      <th>HR in change</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let request of newList; let i = index">
      <tr #parent>
        <td>{{ request.requestId }}</td>
        <td>{{ request.name }}</td>
        <td>{{ request.requestLevel }}</td>
        <td>{{ request.department }}</td>
        <td>{{ request.position }}</td>
        <td>{{ request.quantity }}</td>
        <td>{{ request.createdOn }}</td>
        <td>{{ request.deadline }}</td>
        <td>{{ request.hrInchange }}</td>
        <td>
          <p
            [ngClass]="{
              pending: request.status === 'pending',
              approved: request.status === 'approved'
            }"
          >
            {{ request.status }}
          </p>
        </td>
        <td>
          <i class="fas fa-angle-down" (click)="toggleChildren(parent)"></i>
        </td>
      </tr>
      <tr *ngFor="let request of request.children" class="children">
        <td>{{ request.requestId }}</td>
        <td>{{ request.name }}</td>
        <td>{{ request.requestLevel }}</td>
        <td>{{ request.department }}</td>
        <td>{{ request.position }}</td>
        <td>{{ request.quantity }}</td>
        <td>{{ request.createdOn }}</td>
        <td>{{ request.deadline }}</td>
        <td>{{ request.hrInchange }}</td>
        <td>
          <p
            [ngClass]="{
              pending: request.status === 'pending',
              approved: request.status === 'approved'
            }"
          >
            {{ request.status }}
          </p>
        </td>
        td
      </tr>
    </ng-container>
  </tbody>
</table> -->
