* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../assets/DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf");
}
.content {
  width: 100%;
  padding-right: 30px;
  margin-left: 9px;
  &-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(1px 0px 0px #8C8C8C)
          drop-shadow(0px 0px 0px #8C8C8C)
          drop-shadow(0px 1px 0px #8C8C8C)
          drop-shadow(0px -1px 0px #8C8C8C)
          drop-shadow(0px 0px 0px #8C8C8C)
          drop-shadow(0px 0px 0px #8C8C8C)
          drop-shadow(0px 0px 0px #8C8C8C)
          drop-shadow(0px 0px 0px #8C8C8C);
    &-item {
      position: relative;
      -webkit-clip-path: polygon(87% 0, 100% 51%, 88% 99%, 0 99%, 16% 52%, 0 0);
      clip-path: polygon(87% 0, 100% 51%, 88% 99%, 0 99%, 16% 52%, 0 0);
      width: 260px;
      height: 80px;
      background-color: #fff;
      p {
        font-size: 16px;
        margin-left: 50px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
      }
      h6 {
        font-size: 13px;
        margin-top: 20px;
        margin-left: 50px;
        font-family: "Poppins";
      }
    }
  }
}
.highlight{
  background-color:#374151;
  color: #fff;
}
