<div class="content">
    <div class="content-list">
        <div class="content-list-item">
            <h6 class="content-list-item__ttl">Step 1</h6>
            <p lass="content-list-item__stl">Resume and contact</p>
          </div>
        <div class="content-list-item">
            <h6 class="content-list-item__ttl">Step 1</h6>
            <p lass="content-list-item__stl">Resume and contact</p>
        </div>
        <div class="content-list-item">
            <h6 class="content-list-item__ttl">Step 1</h6>
            <p lass="content-list-item__stl">Resume and contact</p>
        </div>
        <div class="content-list-item">
            <h6 class="content-list-item__ttl">Step 1</h6>
            <p lass="content-list-item__stl">Resume and contact</p>
        </div>
    </div>
</div>