* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../../assets/DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf");
}
.content {
  display: flex;
  position: relative;

  &-render {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 100px;
    width: 100%;
    position: relative;
    margin-top: 20px;
  }
}
.content ::-webkit-scrollbar {
  width: 8px;
}

.content ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(235, 50, 50, 0.3);
 
  border-radius: 15px;
}

.content ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #6c67fc;
}
.popup-content{
  display: flex;
}
.org{
  width: 400px;
}