<div class="content">
  <h5>Candidate</h5>
  <app-back-btn [route]="route"></app-back-btn>
  <app-step (step)="getStep($event)"></app-step>
  <div class="content-middle">
    <div class="content-middle-left">
      <div>
        <app-profile
          class="profile"
          [ngClass]="{ show: step == 1, hide: step != 1 }"
          [candidateName]="name"
        ></app-profile>
        <app-general-inf
          [step]="step"
          (candidateName)="getName($event)"
        ></app-general-inf>

        <!-- <app-contact-form></app-contact-form> -->
      </div>
    </div>
    <div class="content-middle-right">
      <div class="content-middle-right-attach">
        <app-attach-file (pdfSrc)="getPdfSrc($event)" [attach]="attach">
        </app-attach-file>
        <app-attach-file (pdfSrc)="getPdfSrc($event)" [attach]="attach2">
        </app-attach-file>
      </div>
      <div class="content-middle-right-show">
        <app-show-pdf-file [pdfSrc]="pdfSrc"></app-show-pdf-file>
      </div>
    </div>
  </div>
  <div class="content-bottom">
    <div class="content-bottom-button">
      <button class="btn btn-success">Create</button>
      <button class="btn btn-danger">Create</button>
      <button class="btn btn-primary">Create</button>
    </div>

  </div>

</div>
