<div class="content">
    <h5>Candidate</h5>
    <app-back-btn [route]="route"></app-back-btn>
    <app-navigate-bar></app-navigate-bar>
    <div class="content-middle">
        <div class="content-middle-left">
            <app-profile></app-profile>
            <div class="content-middle-left-attach">
                <app-attach-file [attach]="attach"></app-attach-file>
                <app-attach-file [attach]="attach2"></app-attach-file>
            </div>
            <app-contact-form></app-contact-form>
           
        </div>
        
    </div>
</div>