* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../../../assets/DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf");
}
.content {
  padding-bottom: 120px;
  position: relative;
  &-middle {
    margin-top: 40px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    &-left {
      width: 45%;
      margin-top: 10px;
      margin-left: 20px;
      height: calc(100vh - 80px);
   
      &-attach {
        display: flex;
      }
    }
    &-right {
      width: 55%;
      padding-left: 20px;
      height: calc(100vh - 80px);

      &-attach {
        display: flex;
        width: 100%;
        justify-content: center;
      }
      &-show{
       height: 100%;
      }
    }
  }
  &-bottom {
    position: absolute;
    bottom: 0;
    right: 20px;
    &-button {
      button{
        width: 120px;
        padding: 5px 15px;
        margin: 0 10px;
      }
    }
  }
}
h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  margin-left: 9px;
  margin-bottom: 10px;
  /* identical to box height, or 233% */
}
h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height */

  /* Gray/900 */

  color: #001246;
}
svg {
  margin-top: 3px;
}
.link {
  display: inline-block;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.action {
  display: flex;
  margin-right: 20px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.profile {
  margin-bottom: 20px;
}
.show-full{
  width: 100%;
}
button:disabled{
  background-color: rgb(83, 83, 83);
  border: none;
}
