<div class="content">
  <h5>Candidate</h5>
  <app-back-btn [route]="route"></app-back-btn>
  <app-step></app-step>
  <div class="content-middle">
    <div class="content-middle-left">
        <app-profile></app-profile>

     

      <app-contact-form></app-contact-form>
    </div>
    <div class="content-middle-right">
        <div class="content-middle-right-attach">
            <app-attach-file [attach]="attach"> </app-attach-file>
            <app-attach-file [attach]="attach2"> </app-attach-file>
        </div>
        <div class="content-middle-right-show">
          <app-show-pdf-file></app-show-pdf-file>
        </div>
    </div>
  </div>
</div>
