<div class="alias" #target>
  <p>
    <i class="far fa-plus circle-icon" (click)="getSkillType(target)"></i>
  </p>
  <div class="ada">
    <ul>
      <div class="loading" *ngIf="isLoaded == false">
        <div class="loader"></div>
        <h6>Loading</h6>
      </div>
      <li
        (click)="chooseChildSkill(skill, target)"
        *ngFor="let skill of listSkill"
      >
        {{ skill.name }}
      </li>
    </ul>
    <i (click)="hideList()" class="fa fa-times custom"></i>
  </div>
</div>
