<div class="content">
  <div class="content-heading">
    <h5>Location category</h5>
    <app-back-btn [route]="route"></app-back-btn>
  </div>
  <div class="navigate-bar">
    <div class="navigate-bar-list">
      <div
        class="navigate-bar-list-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        routerLink="nations"
      >
        <p>
          <a class="navigate-bar-list-item-link">Nations</a>
        </p>
      </div>
      <div
        class="navigate-bar-list-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        routerLink="provinces"
      >
        <p>
          <a class="navigate-bar-list-item-link" >Provinces</a>
        </p>
      </div>
      <div
        class="navigate-bar-list-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        routerLink="districts"
      >
        <p>
          <a class="navigate-bar-list-item-link" >Districts</a>
        </p>
      </div>
      <div
        class="navigate-bar-list-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        routerLink="wards"
      >
        <p>
          <a class="navigate-bar-list-item-link">Wards</a>
        </p>
      </div>
    </div>
  </div>
  <div class="content-renderer">
    <router-outlet></router-outlet>
  </div>
</div>
