* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../../../assets/DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf");
}

.content {
  &-heading {
    h5 {
      font-style: normal;
      font-family: "Poppins";
      font-weight: 900;
      font-size: 18px;
      margin-left: 9px;
      margin-bottom: 10px;
    }
  }
}

table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: "Poppins";
  border: 1px solid rgb(202, 202, 202);

  thead {
    tr {
      &:first-of-type {
        border: none;

        th {
          &:first-of-type {
            width: 20px;
          }
        }
      }
    }
  }

  tbody {
    &:nth-of-type(2) {
      tr {
        &:hover {
          background-color: rgb(71, 71, 250);
        }
      }
    }
  }

  tr {
    border-top: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);

    th {
      width: 100px;
      text-align: center;
      height: 60px;

      &:first-of-type {
        width: 40px;
      }
      // &:nth-of-type(2) {
      //   width: 60px;
      // }
    }

    td {
      vertical-align: middle;
      text-align: center;
      height: 60px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:nth-of-type(5), :nth-of-type(6) {
        padding: 0 15px;
      }

      i {
        cursor: pointer;

        &:active {
          cursor: wait;
        }
      }
    }
  }
}

.selected {
  background-color: rgb(71, 71, 250);
}
.poppup {
  color: #4057f9;
  cursor: pointer;
  margin-top:5px;
}

