<div class="navigation">
    <div class="navigation-item"   routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
    routerLink="info" [queryParams]="{id:id}">
        <h6>General Information</h6>
        <div class="indicator"></div>
    </div>
    <div class="navigation-item"   routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
    routerLink="cv"  [queryParams]="{id:id}">
        <h6>CV</h6>
        <div class="indicator"></div>
    </div>
    
</div>