<div class="content">
  <form
    novalidate
    (ngSubmit)="onSubmit()"
    [formGroup]="requestForm"
    class="form"
    action=""
  >
    <div class="left">
      <div class="form-group">
        <label for="requestID">Request Code</label>
        <input type="text" class="form-control" formControlName="requestCode" />
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" formControlName="name" />
        <small
          class="text-danger"
          *ngIf="
            requestForm.get('name')?.hasError('required') &&
            requestForm.get('name')?.touched
          "
          >Please input name</small
        >
      </div>
      <div class="form-group">
        <label for="name">Type</label>
        <select style="font-family: Poppins" name="dep" formControlName="type">
          <option
            [selected]="type.id == requestForm.controls['type'].value"
            style="font-family: Poppins"
            *ngFor="let type of types"
            [ngValue]="type.id"
          >
            {{ type.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">Dep/Proj Name</label>
        <input type="text" class="form-control" formControlName="dep" />
        <p (click)="showPopUp()" class="poppup">Choose</p>
        <small
          class="text-danger"
          *ngIf="
            requestForm.get('dep')?.hasError('required') &&
            requestForm.get('dep')?.touched
          "
          >Please choose department</small
        >
      </div>
      <div class="form-group">
        <label for="name">Projects</label>
        <select name="dep" formControlName="projects">
          <option
            [selected]="project.id == requestForm.controls['projects'].value"
            *ngFor="let project of projects"
            [ngValue]="project.id"
          >
            {{ project.name }}
          </option>
        </select>
        <small
          class="text-danger"
          *ngIf="
            requestForm.get('projects')?.hasError('required') &&
            requestForm.get('projects')?.touched
          "
          >Please choose projects</small
        >
      </div>
      <div class="form-group">
        <label for="name">Position</label>
        <select name="position" formControlName="position">
          <option
            [selected]="position.id == requestForm.controls['position'].value"
            *ngFor="let position of positions"
            [ngValue]="position.id"
          >
            {{ position.name }}
          </option>
        </select>
        <small
          class="text-danger"
          *ngIf="
            requestForm.get('position')?.hasError('required') &&
            requestForm.get('position')?.touched
          "
          >Please choose position</small
        >
      </div>
      <div class="form-group">
        <label for="name">Quantity</label>
        <input type="text" class="form-control" formControlName="quantity" />
        <small
          class="text-danger"
          *ngIf="
            requestForm.get('quantity')?.hasError('required') &&
            requestForm.get('quantity')?.touched
          "
          >Please input quantity</small
        >
        <small
          class="text-danger"
          *ngIf="
            requestForm.get('quantity')?.hasError('pattern') &&
            requestForm.get('quantity')?.touched
          "
          >Please input number greater than 0.</small
        >
      </div>
      <div class="form-group">
        <label for="name">Office</label>
        <input
          type="text"
          class="form-control"
          [value]=""
          formControlName="office"
        />
      </div>
      <div class="form-group">
        <label for="name">Deadline</label>
        <input
          type="date"
          [min]="today"
          class="form-control"
          formControlName="deadline"
        />
      </div>
      <div class="form-group">
        <label for="name">Roadmap</label>
        <p><a href="">Popup Roadmap</a></p>
      </div>
    </div>
    <div class="right">
      <div class="form-group">
        <label for="name">Experience</label>
        <input type="text" class="form-control" formControlName="experience" />
      </div>
      <div class="form-group">
        <label for="name">Level</label>
        <select name="level" formControlName="level">
          <option
            [selected]="level.id == requestForm.controls['level'].value"
            *ngFor="let level of levels"
            [ngValue]="level.id"
          >
            {{ level.name }}
          </option>
        </select>
        <small
          class="text-danger"
          *ngIf="
            requestForm.get('level')?.hasError('required') &&
            requestForm.get('level')?.touched
          "
          >Please input level</small
        >
      </div>

      <div class="form-group">
        <label for="name">Notes</label>
        <textarea
          class="form-control"
          placeholder="Notes"
          rows="4"
          formControlName="notes"
        ></textarea>
        <small
          class="text-danger"
          *ngIf="
            requestForm.get('notes')?.hasError('required') &&
            requestForm.get('notes')?.touched
          "
          >Please input notes</small
        >
      </div>
    </div>
    <button
      [disabled]="
        requestForm.invalid ||
        this.requestService.selectedRequest.statusID == 2 ||
        this.requestService.selectedRequest.statusID == 4
      "
      type="button"
      (click)="onSubmit()"
      class="editBtn"
    >
      Edit
    </button>
  </form>
</div>
<swal #orgPicker title="Choose department" width="500px" tabindex="100">
  <div *swalPortal="swalTargets.content">
    <app-pop-up-organizations
      (department)="getDataFromPopup($event)"
    ></app-pop-up-organizations>
  </div>
</swal>
