<div class="content">
  <p (click)="showPopUP()">Candidates in request</p>
</div>
<swal
  #candidatePicker
  title="Candidates in request"
  width="1300px"
  tabindex="100"
>
  <div *swalPortal="swalTargets.content" class="popup-content">
    <div class="content-middle">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>YOB</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Location</th>
            <th>Position</th>
            <th>Experiences</th>
            <th>Language</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr [formGroup]="candidateForm">
            <td></td>
            <td>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Filter"
                  formControlName="name"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Filter"
                  formControlName="yob"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Filter"
                  formControlName="phone"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Filter"
                  formControlName="email"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Filter"
                  formControlName="location"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Filter"
                  formControlName="position"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Filter"
                  formControlName="exp"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Filter"
                  formControlName="languages"
                />
              </mat-form-field>
            </td>
          </tr>
        </tbody>
        <tbody style="position: relative">
          <app-loader [isLoaded]="isLoaded"></app-loader>
          <ng-container *ngIf="listCandidate">
            <tr
              (dblclick)="navigateToView(candidate)"
              *ngFor="
                let candidate of listCandidate
                  | paginate
                    : {
                        itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalItems
                      }
              "
            >
              <td>{{ candidate.code }}</td>
              <td>{{ candidate.name }}</td>
              <td>{{ candidate.yob }}</td>
              <td>{{ candidate.phoneNumber }}</td>
              <td class="px-2">{{ candidate.email }}</td>
              <td class="px-2">{{ candidate.location }}</td>
              <td>{{ candidate.lastestPosition }}</td>
              <td>{{ candidate.experience }}</td>
              <td>{{ candidate.language }}</td>
              <td>{{ candidate.statusName }}</td>
            </tr>
          </ng-container>
          <tr style="width: 100%; position: relative;" *ngIf="isNull">
            <td > 
            <p style="width: 100%; position: absolute; margin: 0;" >NO CANDIDATE</p>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-container *ngIf="listCandidate">
      <pagination-controls
        class="paging"
        (pageChange)="gty((page = $event))"
      ></pagination-controls>
    </ng-container>
  </div>
</swal>
