<div class="navigate-bar">
  <div class="navigate-bar-list">
    <div
      class="navigate-bar-list-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      routerLink="/yeucautuyendung/xemyeucau"
    >
      <p>
        <a class="navigate-bar-list-item-link">View all requests</a>
      </p>
    </div>
    <div class="navigate-bar-list-item">
      <p>
        <a class="navigate-bar-list-item-link" href="">View approved requests</a>
      </p>
    </div>
    <div class="navigate-bar-list-item">
      <p>
        <a class="navigate-bar-list-item-link" href="">View rejected request</a>
      </p>
    </div>
  </div>
</div>
