<div class="content">
  <div class="content-left">
    <h2><a routerLink="/">CP SUM22</a></h2>
    <object data="../../../assets/icons/icons8-menu-24.png"></object>
  </div>
  <div class="content-right">
    <div class="content-right-box">
      <img
        src="../../../assets/images/anya-forger-la-ai-nhan-vat-anime-spy-x-family-5.jpg"
        alt=""
      />
    </div>
    <h5>{{ user.name }}</h5>
    <a (click)="logOut()">logout</a>
    <p><i class="fal fa-angle-down"></i></p>
  </div>
</div>
