<div class="action">
  <app-customize-button></app-customize-button>
  <ng-container *ngIf="user">
    <ng-container *ngIf="user.rule==2 ">
      <app-add-btn></app-add-btn>
      <app-submit-btn [action]="submitAction"></app-submit-btn>
      <app-cancel-btn [action]="cancelAction"></app-cancel-btn>
    </ng-container>
    <ng-container *ngIf="user.rule == 1">
      <app-edit-btn [action]="approveAction"></app-edit-btn>
      <app-reject-btn [action]="rejectAction"></app-reject-btn>
    </ng-container>
  </ng-container>

 
</div>
