<div class="menu">
  <h6 class="menu__ttl">Main menu</h6>
  <div class="menu-list">
    <div class="menu-list-item" >
      <div class="menu-list-item-parent" #candidate (click)="showDropdown(candidate)">
        <object
          data="../../../assets/icons/icons8-user-groups-16.png"
          width="18px"
          height="18px"
        ></object>
        <p class="menu-list-item-parent__ttl">Tuyển dụng</p>
      </div>
      <div class="menu-list-item-request">
        <ul>
          <li routerLink="yeucautuyendung" routerLinkActive="is-active">Yêu cầu</li>
          <li>Chiến dịch</li>
          <li>Ứng viên</li>
          <li>Lịch</li>
          <li>Kết quả kiểm tra</li>
          <li>Onboarding</li>
          <li>Báo cáo</li>
        </ul>
      </div>
    </div>
    <div class="menu-list-item">
      <div class="menu-list-item-parent">
        <object
          data="../../../assets/icons/icons8-user-groups-16.png"
          width="18px"
          height="18px"
        ></object>
        <p class="menu-list-item-parent__ttl">Phân quyền</p>
      </div>
    </div>
    <div class="menu-list-item">
      <div class="menu-list-item-parent">
        <object
          data="../../../assets/icons/icons8-user-groups-16.png"
          width="18px"
          height="18px"
        ></object>
        <p class="menu-list-item-parent__ttl">Nhân viên</p>
      </div>
    </div>
    <div class="menu-list-item">
      <div class="menu-list-item-parent">
        <object
          data="../../../assets/icons/icons8-user-groups-16.png"
          width="18px"
          height="18px"
        ></object>
        <p class="menu-list-item-parent__ttl">Câu hỏi</p>
      </div>
    </div>
    <div class="menu-list-item">
      <div class="menu-list-item-parent">
        <object
          data="../../../assets/icons/icons8-user-groups-16.png"
          width="18px"
          height="18px"
        ></object>
        <p class="menu-list-item-parent__ttl">Bài kiểm tra</p>
      </div>
    </div>
    <div class="menu-list-item">
      <div class="menu-list-item-parent">
        <object
          data="../../../assets/icons/icons8-user-groups-16.png"
          width="18px"
          height="18px"
        ></object>
        <p class="menu-list-item-parent__ttl">Làm bài</p>
      </div>
    </div>
  </div>
</div>
