<div class="info">
  <div class="info-heading">
    <div class="info-heading-img">
      <img
        src="../../../../../../assets/images/anya-forger-la-ai-nhan-vat-anime-spy-x-family-5.jpg"
        alt=""
      />
    </div>
    <div class="info-heading-contact">
      <h6>Hoang Ngoc Minh</h6>
      <p>09213132132</p>
      <p>nguyenxuanhung@gmail.com</p>
    </div>
    <div class="info-heading-social">
      <div class="info-heading-social-item">
        <p>Facebook:</p>
        <a
          target="_blank"
          href="https://codecary.com/pure-css-animated-tabs-with-slide-indicator/"
          >https://codecary.com/pure-css-animated-tabs-with-slide-indicator/</a
        >
      </div>
      <div class="info-heading-social-item">
        <p>Zalo:</p>
        <a
          target="_blank"
          href="https://codecary.com/pure-css-animated-tabs-with-slide-indicator/"
          >https://codecary.com/pure-css-animated-tabs-with-slide-indicator/</a
        >
      </div>
      <div class="info-heading-social-item">
        <p>Skype:</p>
        <a
          target="_blank"
          href="https://codecary.com/pure-css-animated-tabs-with-slide-indicator/"
          >https://codecary.com/pure-css-animated-tabs-with-slide-indicator/</a
        >
      </div>
    </div>
    <div class="info-heading-position">
      <p>Position: BA Intern</p>
    </div>
  </div>
  <div class="info-middle">
    <div class="info-middle-left">
      <h5 class="info-middle-left__ttl">General Information</h5>
      <div class="info-middle-left-item">
        <span>Candidate ID</span>
        <div class="info-middle-left-item-right">
            <span>2</span>
          </div>
      </div>
      <div class="info-middle-left-item">
        <span>Gender</span>
        <div class="info-middle-left-item-right">
            <span>Male</span>
          </div>
      </div>
      <div class="info-middle-left-item">
        <span>Year of birth</span>
        <div class="info-middle-left-item-right">
            <span>2000</span>
          </div>
      </div>
      <div class="info-middle-left-item">
        <span>Address</span>
        <div class="info-middle-left-item-right">
          <span>17T1 Hoang Dao Thuy - Ha Noi</span>
        </div>
      </div>
      <div class="info-middle-left-item">
        <span>University</span>
        <div class="info-middle-left-item-right">
            <span>FTU</span>
          </div>
      </div>
      <div class="info-middle-left-item">
        <span>Major</span>
        <div class="info-middle-left-item-right">
            <span>Software Engineering</span>
          </div>
      </div>
      <div class="info-middle-left-item">
        <span>GPA</span>
        <div class="info-middle-left-item-right">
            <span>3.8</span>
          </div>
      </div>
      <div class="info-middle-left-item">
        <span>Graduate date</span>
        <div class="info-middle-left-item-right">
            <span>12/12/2012</span>
          </div>
      </div>
    </div>
    <div class="info-middle-right">
        <h5 class="info-middle-right__ttl">Languages and skillsheets</h5>
    </div>
  </div>
</div>
