<div class="info" *ngIf="candidate">
  <div class="info-heading">
    <div class="info-heading-img">
      <img
        src="../../../../../../assets/images/anya-forger-la-ai-nhan-vat-anime-spy-x-family-5.jpg"
        alt=""
      />
    </div>
    <div class="info-heading-contact">
      <h6>{{ candidate.fullName }}</h6>
      <p>{{ candidate.phone }}</p>
      <p>{{ candidate.email }}</p>
    </div>
    <div class="info-heading-social">
      <div class="info-heading-social-item">
        <p>Facebook:</p>
        <a
          target="_blank"
          href="https://codecary.com/pure-css-animated-tabs-with-slide-indicator/"
          >https://codecary.com/pure-css-animated-tabs-with-slide-indicator/</a
        >
      </div>
      <div class="info-heading-social-item">
        <p>Zalo:</p>
        <a
          target="_blank"
          href="https://codecary.com/pure-css-animated-tabs-with-slide-indicator/"
          >https://codecary.com/pure-css-animated-tabs-with-slide-indicator/</a
        >
      </div>
      <div class="info-heading-social-item">
        <p>Skype:</p>
        <a
          target="_blank"
          href="https://codecary.com/pure-css-animated-tabs-with-slide-indicator/"
          >https://codecary.com/pure-css-animated-tabs-with-slide-indicator/</a
        >
      </div>
    </div>
    <div class="info-heading-position">
      <p>Position: BA Intern</p>
    </div>
  </div>
  <div class="info-middle">
    <div class="info-middle-left">
      <h5 class="info-middle-left__ttl">General Information</h5>
      <div class="info-middle-left-item">
        <span>Candidate ID</span>
        <div class="info-middle-left-item-right">
          <span>{{ candidate.id }}</span>
        </div>
      </div>
      <div class="info-middle-left-item">
        <span>Gender</span>
        <div class="info-middle-left-item-right">
          <span>Male</span>
        </div>
      </div>
      <div class="info-middle-left-item">
        <span>Year of birth</span>
        <div class="info-middle-left-item-right">
          <span>{{ candidate.dob }}</span>
        </div>
      </div>
      <div class="info-middle-left-item">
        <span>Address</span>
        <div class="info-middle-left-item-right">
          <span>{{ candidate.nationLive }} - {{ candidate.provinceLive }}</span>
        </div>
      </div>
      <div class="info-middle-left-item">
        <span>University</span>
        <div class="info-middle-left-item-right">
          <span>{{ candidate.school }}</span>
        </div>
      </div>
      <div class="info-middle-left-item">
        <span>Major</span>
        <div class="info-middle-left-item-right">
          <span>{{ candidate.major }}</span>
        </div>
      </div>
      <div class="info-middle-left-item">
        <span>GPA</span>
        <div class="info-middle-left-item-right">
          <span>{{ candidate.score }}</span>
        </div>
      </div>
      <div class="info-middle-left-item">
        <span>Graduate date</span>
        <div class="info-middle-left-item-right">
          <span>{{ candidate.graduate }}</span>
        </div>
      </div>
    </div>
    <div class="info-middle-right">
      <h5 class="info-middle-right__ttl">Languages and skillsheets</h5>

     
          <div class="info-middle-right-languages">
            <h6>1.Foreign language</h6>
            <div class="box" *ngFor="let language of languageList" >
              <p>{{ language.type }}</p>
              <div class="box-item" *ngFor="let child of language.child" >
                <span>{{ child.level }}</span>
                <span>{{ child.goal }}</span>
              </div>
            </div>
          </div>
          <div class="info-middle-right-skillsheet">
            <h6>2.Skillsheets</h6>
            <div class="box" *ngFor="let skillsheet of skillSheetList" >
              <p>{{ skillsheet.typeSkill }}</p>
              <div class="box-item" *ngFor="let child of skillsheet.child" >
                <span>{{ child.type }}</span>
                <ng-container *ngFor="let c of child.child">  
                  <span>{{ c.level }}</span>
                  <span>{{ c.goal }}</span>
                </ng-container>
              
              </div>
            </div>
          </div>
    
      

   
    </div>
  </div>
</div>
