<div class="content">
    <h5 class="content__ttl">Institute Organization</h5>
    <div class="content-list">
      <p class="content-list-item">
        <a routerLink="vitricongviec" [queryParams]="{index: 1,size:20}">Position Organization</a>
      </p>
      <!-- <p class="content-list-item">
        <a routerLink="danhmuchucdanh" [queryParams]="{index: 0,size:20}">Title categories</a>
      </p>
      <p class="content-list-item">
        <a routerLink="congviec">Position categories</a>
      </p> -->
    </div>
  </div>
  