<div class="content">
    <h5 class="content__ttl">Institute Organization</h5>
    <div class="content-list">
      <p class="content-list-item">
        <a routerLink="vitricongviec" [queryParams]="{index: 1,size:20}">Position Organization</a>
      </p>
      <p class="content-list-item">
        <a routerLink="xemtochuc" [queryParams]="{index: 1,size:20}">View Organization</a>
      </p>
      <p class="content-list-item">
        <a routerLink="tochuc" [queryParams]="{orgId: 1}">Insititute Organization</a>
      </p>
    </div>
  </div>
