<div class="content">
  <div class="content-profile">
    <div class="content-profile-heading">
      <div class="img-box">
        <img
          src="../../../assets/images/anya-forger-la-ai-nhan-vat-anime-spy-x-family-5.jpg"
          alt=""
        />
      </div>
      <div class="title">
        <p>{{ candidate.name }}</p>
        <p>{{ candidate.phone }}</p>
        <p>{{ candidate.email }}</p>
      </div>
    </div>
    <div class="content-profile-middle">
      <div class="group">
        <label for="">Gender:</label>
        <p>{{ candidate.gender }}</p>
      </div>
      <div class="group">
        <label for="">Date of birth:</label>
        <p>{{ candidate.dob }}</p>
      </div>
      <div class="group">
        <label for="">Address:</label>
        <p>{{ candidate.country }}</p>
      </div>
      <div class="group">
        <label for="">University:</label>
        <p>{{ candidate.university }}</p>
      </div>
      <div class="group">
        <label for="">Major:</label>
        <p>{{ candidate.major }}</p>
      </div>
      <div class="group">
        <label for="">Graduation score:</label>
        <p>{{ candidate.gpa }}</p>
      </div>
      <div class="group">
        <label for="">Graduation date:</label>
        <p>{{ candidate.graduate }}</p>
      </div>
    </div>
  </div>
  <div _ngcontent-pxb-c87="" class="content-skill">
    <div _ngcontent-pxb-c87="" class="language">
      <div _ngcontent-pxb-c87="" class="language-heading">
        <h5 _ngcontent-pxb-c87="" class="language-heading__ttl">
          1. Foreign Language
        </h5>
      </div>
      <div _ngcontent-pxb-c87="" class="language-content">
        <div
          _ngcontent-pxb-c87=""
          class="language-content-item"
          *ngFor="let skill of list"
        >
          <div _ngcontent-pxb-c87="" class="language-content-item-main">
            <div _ngcontent-pxb-c87="" class="main">
              <p _ngcontent-pxb-c87="">{{ skill.name }}</p>
            </div>
            <div
              _ngcontent-pxb-c87=""
              class="language-content-item-main-category"
            >
              <div
                _ngcontent-pxb-c87=""
                class="main"
                *ngFor="let skill of skill.listSkill"
              >
                <span class="custom">{{ skill.name }}</span>
                <input disabled [value]="skill.goal" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="language">
      <div class="language-heading">
        <h5 class="language-heading__ttl">2. SkillSheets</h5>
      </div>
      <div class="language-content">
        <div
          class="language-content-item"
          *ngFor="let skillsheet of listSkillSheet"
        >
          <div _ngcontent-yxd-c87="" class="language-content-item-main">
            <div _ngcontent-yxd-c87="" class="main">
              <p _ngcontent-yxd-c87="">{{ skillsheet.name }}</p>
            </div>
            <div class="language-content-item-main-category">
              <div class="main" *ngFor="let skillChild of skillsheet.listSkill">
                <span>{{ skillChild.name }}</span>
                <span>{{skillChild.levelName}}</span>
                <input disabled [value]="skillChild.goal" #input type="text" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="language">
      <div class="language-heading">
        <h5 class="language-heading__ttl">3. Experience</h5>
      </div>
      <div class="language-content">
        <div
          class="language-content-item"
          *ngFor="let exp of listExps"
        >
          <div _ngcontent-yxd-c87="" class="language-content-item-main">
            <div _ngcontent-yxd-c87="" class="main">
              <p _ngcontent-yxd-c87="">{{ exp.name }}</p>
            </div>
            <div class="language-content-item-main-category">
              <div class="main" *ngFor="let skillChild of exp.listSkill">
                <span>{{ skillChild.firm }}</span>
                <span>{{skillChild.position}}</span>
                <span>{{skillChild.time}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
