.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 9px;

  &-profile {
    width: 40%;
    margin-right: 40px;
    &-heading {
      display: flex;
      .img-box {
        width: 120px;
        height: 120px;
        margin-right: 20px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      margin-bottom: 40px;
      .title {
        p {
          max-width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    &-middle {
      .group {
        display: flex;
        label {
          margin: 10px;
        }
        p {
          margin: 10px;
          max-width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
@font-face {
  font-family: "Poppins";
  src: url("../../../assets/DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content-skill {
  width: 60%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins";
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 220px);
  overflow-y: auto;
}
.language {
  width: 60%;
  &:first-of-type{
    width: 40%;
  }
  &:last-of-type{
    width: 100%;
  }
  &-heading {
    display: flex;
    font-style: normal;
    &__ttl {
      font-weight: 600;
      font-size: 16px;
      font-family: "Poppins";
    }

    justify-content: space-between;
    .content {
      cursor: pointer;
      margin: 0 5px;
    }
  }
  &-content {
    margin-top: 20px;
    &-item {
      margin-top: 20px;
      &-main {
        p {
          width: 110px;
          text-align: center;
        }
        &-category {
          label {
            margin-top: 20px;
            padding: 3px 25px;
            border: 0.5px solid #c0c0c080;
            border-radius: 10px;
            width: 90px;
            font-style: normal;
            font-weight: 600;
          }
          input {
            width: 90px;
            padding: 3px 25px;
            border: 0.5px solid #c0c0c080;
            border-radius: 10px;

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
            }
          }
        }
      }
    }
  }
}
.main {
  display: flex;
  align-items: baseline;
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    width: auto;
    &:first-of-type {
      padding: 5px 25px;
      background-color: #ffc700;
      border-radius: 10px;
      margin-right: 20px;
    }
    i {
      background-color: #ffc145;
      border-radius: 50%;
      padding: 3px 5px;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
select {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  padding: 5px 15px;
  option {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    padding: 5px 15px;
  }
}
.fa-trash-alt {
  color: red;
  margin-left: auto;
  margin-right: 15px;
  cursor: pointer;
  font-size: 18px;
}
.language-content-item-main-category:first-of-type .main i {
  display: none;
}
span {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  min-width: 100px;
  text-align: center;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  // height: 33px;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  margin-bottom: 20px;
}
.customize{
  display: initial;
  h6{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    &:first-of-type{
      font-size: 16px;
      color: #0a24e9;
    }
  }
}