<div class="wrapper">
  <div class="language">
    <div class="language-heading">
      <h5 class="language-heading__ttl">1. Foreign Language</h5>
      <div class="content">
        <p (click)="addLanguage()">
          <i class="fa-solid fa-plus"></i>
        </p>
      </div>
    </div>
    <div class="language-content">
      <div class="language-content-item">
        <div class="language-content-item-main">
          <div class="main">
            <p>English</p>
            <p >
              <i class="fa-solid fa-plus"></i>
            </p>
          </div>

          <div class="language-content-item-main-category">
            <div class="main">
                <label>IELTS</label>
                <input type="number" />
                <i class="fa-solid fa-trash-can"></i>
            </div>
          
          </div>
        </div>
      </div>
      <div class="language-content-item">
        <div class="language-content-item-main">
          <div class="main">
            <p>English</p>
            <p >
              <i class="fa-solid fa-plus"></i>
            </p>
          </div>

          <div class="language-content-item-main-category">
            <label>IELTS</label>
            <input type="number" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
