@font-face {
  font-family: "Poppins";
  src: url("../../../../../assets/DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  font-family: "Poppins";
  &-heading {
    h5{
        font-family: "Poppins";
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        margin-left: 9px;
        margin-bottom: 10px;
        color: #001246;
    }
  }
}
