<div class="content">
    <h5 class="content__ttl">Recruitment request</h5>
    <div class="content-list">
        <p class="content-list-item"><a routerLink="xemyeucau">View all request</a></p>
        <p class="content-list-item"><a [routerLink]="['xemyeucau',2]">Approved request</a></p>
        <p class="content-list-item"><a href="">Sent request</a></p>
        <p class="content-list-item"><a href="">Draft request</a></p>
        <p class="content-list-item"><a routerLink="taoyeucau">Create new request</a></p>
    </div>
</div>