<div class="content">
    <h5 class="content__ttl">Yêu cầu tuyển dụng</h5>
    <div class="content-list">
        <p class="content-list-item"><a routerLink="xemyeucau">Xem yêu cầu</a></p>
        <p class="content-list-item"><a href="">Yêu cầu đã chấp thuận</a></p>
        <p class="content-list-item"><a href="">Xem yêu cầu đã gửi</a></p>
        <p class="content-list-item"><a href="">Xem yêu cầu chưa gửi (nháp)</a></p>
        <p class="content-list-item"><a routerLink="taoyeucau">Tạo yêu cầu mới</a></p>
    </div>
</div>