* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";
  src: url("../../../assets/DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf");
}

.content {
    
  h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
  }
  p{
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
  }
}
