<div class="content">
  <h5 class="content__ttl">Classify Organization</h5>
  <div class="content-list">
    <p class="content-list-item">
      <a routerLink="thamsohethong" [queryParams]="{ index: 1, size: 20 }"
        >System categories</a
      >
    </p>
    <p class="content-list-item">
      <a routerLink="danhmuchucdanh" [queryParams]="{ index: 1, size: 20 }"
        >Title categories</a
      >
    </p>
    <p class="content-list-item">
      <a
        routerLink="danhmucvitricongviec"
        [queryParams]="{ index: 1, size: 20 }"
        >Position categories</a
      >
    </p>
    <p class="content-list-item">
      <a routerLink="danhmucdiadiem/nations">Location categories</a>
    </p>
  </div>
</div>
