<div class="content">
  <app-loader [isLoaded]="isLoaded"></app-loader>
  <div class="content-heading">
    <h5>View candidates</h5>
    <app-back-btn [route]="route"></app-back-btn>
  </div>
  <div class="content-middle">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Name</th>
          <th>YOB</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Location</th>
          <th>Position</th>
          <th>Experiences</th>
          <th>Language</th>
        </tr>
      </thead>
      <tbody>
        <td></td>
        <td></td>
        <td>
          <mat-form-field>
            <input matInput type="text" placeholder="Filter" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput type="text" placeholder="Filter" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput type="text" placeholder="Filter" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput type="text" placeholder="Filter" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput type="text" placeholder="Filter" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput type="text" placeholder="Filter" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput type="text" placeholder="Filter" />
          </mat-form-field>
        </td>
      </tbody>
      <tbody *ngIf="listCandidate">

        <tr
          *ngFor="
            let candidate of listCandidate
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                  }
          "
        >
          <td><input type="checkbox" /></td>
          <td>{{ candidate.id }}</td>
          <td>{{ candidate.name }}</td>
          <td>{{ candidate.dob }}</td>
          <td>{{ candidate.phone }}</td>
          <td>{{ candidate.email }}</td>
          <td>{{ candidate.location }}</td>
          <td>{{ candidate.position }}</td>
          <td>{{ candidate.yearExp }}</td>
          <td>{{ candidate.language }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-container *ngIf="listCandidate">
    <pagination-controls
      class="pagi"
      (pageChange)="gty((page = $event))"
    ></pagination-controls>
  </ng-container>
</div>
