<div class="content">
  <app-loader [isLoaded]="isLoaded"></app-loader>
  <div class="content-heading">
    <h5>View candidates</h5>
    <div class="d-flex justify-content-between">
      <app-back-btn [route]="route"></app-back-btn>
      <app-matching-btn></app-matching-btn>
    </div>
  </div>
  <div class="content-middle">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Name</th>
          <th>YOB</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Location</th>
          <th>Position</th>
          <th>Experiences</th>
          <th>Language</th>
        </tr>
      </thead>
      <tbody>
        <tr [formGroup]="candidateForm">
          <td></td>
          <td></td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Filter"
                formControlName="name"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Filter"
                formControlName="yob"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Filter"
                formControlName="phone"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Filter"
                formControlName="email"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Filter"
                formControlName="location"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Filter"
                formControlName="position"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Filter"
                formControlName="exp"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Filter"
                formControlName="languages"
              />
            </mat-form-field>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="listCandidate">
        <tr (dblclick)="navigateToView(candidate)"
          *ngFor="
            let candidate of listCandidate
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                  }
          "
        >
          <td><input type="checkbox" (change)="selectedChange(candidate,$event)"/></td>
          <td>{{ candidate.id }}</td>
          <td>{{ candidate.name }}</td>
          <td>{{ candidate.yob }}</td>
          <td>{{ candidate.phoneNumber }}</td>
          <td class="px-2">{{ candidate.email }}</td>
          <td class="px-2">{{ candidate.location }}</td>
          <td>{{ candidate.lastestPosition }}</td>
          <td>{{ candidate.experience }}</td>
          <td>{{ candidate.language }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-container *ngIf="listCandidate">
    <pagination-controls
      class="pagi"
      (pageChange)="gty((page = $event))"
    ></pagination-controls>
  </ng-container>
</div>
