<div class="content">
    <h5 class="content__ttl">1. Contact</h5>
    <form novalidate [formGroup]="contactForm" class="form">
        <div class="form-group">
            <label for="phone">Phone number</label>
            <input type="text" class="form-control" formControlName="phone" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email" />
          </div>
          <div class="form-group">
            <label for="linkedIn">LinkedIn</label>
            <input type="text" class="form-control" formControlName="LinkedIn" />
          </div>
          <div class="form-group">
            <label for="facebook">FaceBook</label>
            <input type="text" class="form-control" formControlName="facebook" />
          </div>
          <div class="form-group">
            <label for="twitter">Twitter</label>
            <input type="text" class="form-control" formControlName="twitter" />
          </div>

    </form>
</div>