* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../../../assets/DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf");
  }
  .contact{
    .form{
        &-group{
            display: flex;
            input{
                width: 138px;
            }
        }
      
        
    }
  }